/* ====================================
// css variables
// ==================================== */

:root {
  --background-color: #000000;
  --font-color: #ffffff;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--font-color);
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Century Gothic";
  font-size: 20px;
  line-height: 26px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
