@import "base";
@import "layout";
@import "modules/reception";
@import "modules/main";
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.woff2") format("woff2"),
    url("../fonts/CenturyGothic.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Century Gothic Bold";
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-display: fallback;
}
